<html lang="en">

<head>
    <base href="./" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Team Utility</title>
    <meta name="theme-color" content="#ffffff" />
</head>

<body class="c-app">
    <!-- <app-sidebar class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    </app-sidebar> -->
    <div class="c-wrapper">
        <app-header></app-header>
        <div class="c-body">
            <main class="c-main">
                <spinner></spinner>
                <router-outlet> </router-outlet>
            </main>
            <footer class="c-footer">
                <app-footer></app-footer>
            </footer>
        </div>
    </div>
</body>

</html>