<header class="c-header c-header-light c-header-fixed">
  <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar"
    data-class="c-sidebar-lg-show" responsive="true">
    <span class="cil-menu"></span>
  </button>
  <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar"
    data-class="c-sidebar-show">
    <span class="cil-menu"></span>
  </button>
  <nav class="navbar">
    <a class="navbar-brand" routerLink="Home" routerLinkActive="Home">
      <img src="assets/brand/logo.webp" width="100" height="50" class="d-inline-block align-top" alt="" />
    </a>
  </nav>
</header>