<div class="container-fluid d-flex flex-wrap">
    <div class="jumbotron flex-fill m-2">
        <h1 class="display-6">Employees</h1>
        <p class="lead">Search for employees information</p>
        <p>
            <a class="btn btn-primary pi pi-search" style="min-width: 5em;" [routerLink]="['/search/employee']"
                role="button"></a>
        </p>
    </div>
    <div class="jumbotron flex-fill m-2">
        <h1 class=" display-6">K2 Workflows</h1>
        <p class="lead">Search for k2 Workflows information</p>
        <p>
            <a class="btn btn-primary pi pi-search" style="min-width: 5em;" [routerLink]="['/search/workflow']"
                role="button"></a>
        </p>
    </div>
</div>